@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Koh+Santepheap:wght@300&display=swap');

body{
    font-family: 'Comfortaa', sans-serif;
    background-color: black;
}

.backBtn{
    display: flex;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

h1{
    color: aquamarine;
}

a{
    padding: 9px 15px;
    margin: 20px;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
}

a:hover{
    background-color: #5FF5B4;
}